html, body {
  margin: 0;
  padding: 0;
  /*background-image: url('/static/images/missing_donut.jpg');*/
  background-size: cover;
  background-color: #dae0e6;
  min-height: 100%; 
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topmidleft {
    position: absolute;
    top: 10%;
    left: 11%;
    max-width: 51%;
}

.scroll {
    overflow:auto;
  }

.card {
position: relative;
height: 575px; 
width: 840px;
}

.card button {
position: absolute;
bottom: 2%;
right: 2%; 
}

.post-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-container {
  background-color: #f7f7f7;
  overflow-y: scroll;
  height: 75%;
  width: 58% !important; 
  box-shadow: -5px 5px 10px;
  border-radius: 4%;
  }

  .map-container {
    padding: 0;
    margin: 0 0 0 0;
    width: 100%;
  }

.page-range-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-range-box {
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  right: 49%;
  top: 13%;
  left: auto;
  white-space: nowrap;
}


.map-posts-container {
  display: flex;
  justify-content: space-between;
}


.nav-buttons {
  width: 25% !important;
  margin-right: 6%;
}


.page-link:hover {
  cursor: pointer !important;
}

.page-link.active, .active > .page-link {
  cursor: auto !important;
}
.page-link.disabled, .disabled > .page-link {
  cursor: auto !important;
}

.hidden {
  display: None;
}

.page-link {
  caret-color: transparent !important;
}

#map {
  width: 95%; 
  height: 95%; 
  margin: 0 auto; 
  display: block;
  border-radius: 4%;
  box-shadow: -5px 5px 10px;
}

.round-box-shadow {
  border-radius: 4%;
  box-shadow: -5px 5px 10px;
}

.auto-complete-box{
  width: 80%;
  margin-bottom: 10px;
  background-color: transparent;
}

.blue-background {
  background-image: url('/static/images/missing_donut.jpg');
}

.textbox {
  border-radius: 4%;
  box-shadow: -5px 5px 10px;
}

.login  {
  width: 50% !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

#post-title .MuiFormControl-root{
  width: 85% !important;
  border-color: rgba(0, 0, 0, 0.5);
}

#post-food .MuiFormControl-root{
  width: 65% !important;
  border-color: rgba(0, 0, 0, 0.5);
}

#post-description .MuiFormControl-root{
  width: 100% !important;
  border-color: rgba(0, 0, 0, 0.5);
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.css-13cymwt-control, .css-t3ipsp-control {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  max-width: 100% !important;
}

.css-14cuatq {
  border-color: rgba(0, 0, 0, 0.5) !important;
}


.app-bar {
  flex-direction: row !important;
  height: 8% !important;
}